
.remotefolder ul {
    padding: 0;
    margin-bottom: 20px;
    margin-top: 0;
}

.remotefolder ul:last-of-type {
    margin-bottom: 0;
}

.remotefolder ul:empty {
    display: none;
}

.remotefolder .panel-heading .pull-right {
    margin-left: 10px;
}

.remotefolder .panel-heading .pull-right.edit {
    margin-left: 20px;
}

.remotefolder .progress {
    margin-bottom: 0;
    height: 22px;
}

.remotefolder .progress.pull-right {
    width: 24px;
}
